.home__main__content{
    display: flex;
    height: 700px;
    align-content: flex-start;
    padding: 60px 0 0;
    flex-direction: column;
}
.home__main__content{
    background-image: url('../../../../../public/img/home__page.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom; 
}
.home__main__content_text h1{
    font-size: 36px;
    width: 600px;
}
.home__main__content_text p{
    margin-top: 35px;
    font-size: 18px;
    line-height: 25px;
}
.home__main__content .btn{
    margin-top: auto;
    margin-left: 13%;
    margin-bottom: 10px;
}


/*Банер*/
.home__main__content__banner{
    margin-top: 50px;
    background-color: #2fac35;
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}
.home__main__content__banner2{
    background-color: #ffa011c0;
    margin-top: 30px;
}