.home__main__content{
    display: flex;
    height: 700px;
    align-content: flex-start;
    padding: 60px 0 0;
    flex-direction: column;
}
.home__main__content{
    background-image: url('../../../../../public/img/home__page.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom; 
}
.home__main__content_text h1{
    font-size: 36px;
    width: 600px;
}
.home__main__content_text p{
    width: 600px;
    margin-top: 35px;
    font-size: 18px;
    line-height: 25px;
}


/*Банер*/
.home__main__content__banner{
    background-color: #2fac35;
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}
.home__main__content__banner2{
    background-color: #ffa011;
}
.home__main__content__banner__text{
    width: 100px;
}
.home__main__content__baner__btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: fit-content;
    align-items: center;
}