.header{
    padding: 20px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__ul{
    display: flex;
    gap: 20px;
}
.header__ul li{
    cursor: pointer;
}
header a{
    color: black;
}
header a:hover{
    color: rgb(80, 79, 79);
}

.header_admin{
    gap: 20px;
    display: flex;
    justify-content: flex-end
}