.header{
    padding: 20px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__ul{
    display: flex;
    gap: 20px;
}
.header__ul li{
    cursor: pointer;
}
header a{
    color: black;
}
header a:hover{
    color: rgb(80, 79, 79);
}

.header_admin{
    position: relative; /* Позволяет ей выходить за границы main */
    left: 50%; /* Смещаем влево на половину ширины main */
    width: 100vw; /* Делаем ширину на весь экран */
    transform: translateX(-50%); /* Возвращаем секцию на место */
    background: #ffe4bd;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.header_admin_content{
    width: 1280px;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}