.home__event__block{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eac082; /* Цвет границы */
    border-radius: 12px; /* Закругление углов */
    padding: 30px;
    width: fit-content;
    background: white;
    box-shadow: 0 2px 10px rgba(255, 181, 92, 0.3);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.home__event__block:has(.home__event__block--btn:hover) {
    box-shadow: 0 4px 15px rgba(255, 182, 92, 0.589);
}
.home__event__contenteiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home__event__section{
    display: flex;
    flex-direction: column;
}
.home__event__section h2{
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 50px;
}


.home__event__block--info{
    color: red;
    font-size: 12px;

}
.home__event__block h3{
    font-size: 20px;
    margin-top: 20px;
    width: 350px;
}
.home__event__block--text{
    margin-top: 15px;
    width: 300px;
}
.home__event__block--data{
    margin-left: auto;
    margin-top: 20px;
}
.home__event__block--btn{
    margin-top: 10px;
    margin-left: auto;
}


